body {
    background-color: black;
}


.container {
    width: 0 auto;
    max-width: 700px;
    background-color: gray;
    margin-top: 10px;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}

textarea {
    width: 100%;
    text-align: center;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
}

h2 {
    text-align: center;
}

#generate {
    background-color: green;
}

#copy {
    background-color: darkblue;
    color: white;
}